.background {
  max-width: 100%;
  background-size: cover;
}

.title {
  color: yellow;
  font-size: 32px;
  font-style: italic;
  float:left;
  width:20%;
  padding-left: 100px;
  padding-top: 20px;
}
.welcome {
  padding-top: 200px;
  font-size: 55px;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  text-shadow: yellow solid 6px;
}
.heading:after {
  content:'';
  display: inline;
  clear: both;
}
.home {
  float: right;
  width: 40%;
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 100px;
  list-style-type: none;
  padding-top: 20px;
}
.nice {
  font-size: 75px;
  text-align: center;
}
.button{
  display: inline-block;
  min-width: 160px;
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
  background: yellow;
  padding: 25px;
  color: black;
  text-decoration: none;
  font-weight: bolder;
}
div {
  text-align: center;
  padding-bottom: 25px;
}
.bookmarks{
  color: black;
  text-decoration: none;
  font-weight: bolder;
}
.services {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  line-height: 0.4;
  padding-top: 20px;
}
.services-subtitle {
  text-align: center;
  font-style: italic;
  line-height: 0.4;
}
.icons {
  font-size: 40px;
  width: 60px;
  height: 60px;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  display: inline-block;
  margin: 0 auto;
  color: yellow;
  box-shadow: 10px yellow;
  background-color: white;
  border-radius: 50%;
  border: 3px solid yellow;
}
.hiding {
  font-size: 0px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }
 .container-two {
  padding: 0 10px 0 10px;
  margin: 0 auto;
  width: 31%;
  flex: 1;
  text-align: center;
}
.box {
  font-size: 25px;
  color: black;
  line-height: 0.4;
}
.card img {
  width: 450px;
  height: 400px;
  object-fit: cover;

}
.box-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio {
  background: #DCDCDC;
  margin-top: 45px;
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}
.card-body {
  padding: 7px;
  background: white;
  margin-bottom: 42px;
}
.footer {
  background: white;
  padding-top: 10px;
  text-align: center;
}
.producent {
  font-size: 15px;
  float:left;
  padding-left: 100px;
  padding-top: 45px;
}
.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 22px;
  margin:10px;
}
.color {
  color: white;
}
